@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
    width: 100vw;
    height: 100vh;
    position: relative;
}
header{
    width: 100%;
    position: absolute;
    padding: 50px 230px;
}
header nav{
    display: flex; 
    justify-content: space-between;
    padding: 20px;
}
header nav ul{
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}
header nav ul li{
   list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 60px;
   list-style: none;
}

#hero_section{
    background: rgb(255, 248, 243);
    width: 100%;
    height: 837px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}


.right-part{
    width: 50%;
    height: 100%;
    display: flex;
}
.developer-img{
    width: auto;
    height: 100%;
}
.text-area{
    width: 585px;
    height: 356px;
    margin-bottom: 184px;
    margin-left: 230px;
}

.text-area>h3{
    color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 45px;
font-weight: 600;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}
.text-area>h1{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 85px;
font-weight: 700;
line-height: 116px;
letter-spacing: 0%;
text-align: left;
}
.text-area>p{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
button{

width: 200px;
height: 64px;
border-radius: 5px;
color: rgb(255, 255, 255);
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 27px;
text-align: center;
background: rgb(253, 110, 10);
outline: none;
border: none;
}
button:last-child{
border:1px solid rgb(253, 110, 10);
background-color: transparent;
color: rgb(253, 110, 10);
font-family: Open;
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
text-align: center;

}
.logo{
    font-family: Open Sans;
font-size: 45px;
font-weight: 800;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}
.logo>span{
    color: rgb(253, 110, 10);
}

.profile_pic{
width: 584px;
height: 676px;
margin-right: 38px;
margin-top: 161px;
}